@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --offset-before: 8px;
    --offset-after: 16px;
    --card-border-color: #e2d9d5;

  }

[class*=stacked--] {
    position: relative;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }
  [class*=stacked--]:before, [class*=stacked--]:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color: white; */
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }
  [class*=stacked--]:before {
    z-index: -1;
  }
  [class*=stacked--]:after {
    z-index: -2;
  }

  .stacked--down-right{
    transform: translate(5px, 5px);
  }
  .stacked--down-right:before {
    transform: translate(-5px, -5px);
  }
  .stacked--down-right:after {
    transform: translate(-10px, -10px);
  }

  .card-8 {
    background-color: #ddc0db !important;
    border-radius: 5px;
  }
  .card-8:before, .card-8:after {
    background-color: #c28ebe !important;

    border-radius: 5px;
  }
  .card-8:before {
    background-color: white !important;
  }

  .card {
    position: relative;
    /* cursor: pointer; */
    /* max-width: 400px; */
    /* margin: 60px auto; */
  }
   
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
   
  .card::before,
  .card::after,
  .card .card-inner {
    background-color: white;
  /* border: 1px solid #e2d9d5; */
  /* border: 1px solid var(--card-border-color); */
  border-radius: 5px;
    transition: transform 0.3s;
  }
   
  .card::before,
  .card-inner {
    z-index: 4;
  }
   
  .card-inner {
    position: relative;
    padding: .2rem;
  }

  .centerFlex {
    align-items: center;
    display: flex;
    justify-content: center;
  }


  .card-top-right::before {
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transform: translate(var(--offset-before), calc(-1 * var(--offset-before)));
  }
  
  .card-top-right::after {
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transform: translate(var(--offset-after), calc(-1 * var(--offset-after)));
    /* animation: fadeIn 0.5s;
    animation-timing-function: ease-out; */

  }

  
  .soft-shadow{
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  }

  .sliding-background {
    background: url("./assets/character-chart.png") repeat-x;
    position:fixed;
    animation: slide 60s linear infinite;
    height: 1331x;
  width: 5076px;
  }

  @keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }

  .bg-container /* used for presentation */ {
    width:100%;
    height:100%;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    overflow:hidden;
    box-shadow: 0 20px 80px rgba(0,0,255,.7);
  }
  
  .bg-scroll {
    z-index: -1;
      opacity: 1;
    position: fixed;
    width:100%;
    height:100%;
    /* make BG larger than container */
    background: url("./assets/character-chart-2.png") repeat;
    background-size: contain;
    animation: backgroundScroll 55s linear infinite;
    transform: rotate(45deg) scale(2);
    transform-origin: right;
  }
  
  @keyframes backgroundScroll {
      0% {
      background-position: 0 0;
    }
      100% {
      /* pattern bg texture is 1000x1000px */
      background-position:0 -1000px;
    }
  }



  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .shake-horizontal {
    display: inherit;
    transform-origin: center center;
    animation-name: shake-horizontal;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;  
  
  }
  
  
  @keyframes shake-horizontal {
    2% {
      transform: translate(-5px, 0) rotate(0); }
    4% {
      transform: translate(-5px, 0) rotate(0); }
    6% {
      transform: translate(3px, 0) rotate(0); }
    8% {
      transform: translate(1px, 0) rotate(0); }
    10% {
      transform: translate(10px, 0) rotate(0); }
    12% {
      transform: translate(6px, 0) rotate(0); }
    14% {
      transform: translate(-2px, 0) rotate(0); }
    16% {
      transform: translate(5px, 0) rotate(0); }
    18% {
      transform: translate(7px, 0) rotate(0); }
    20% {
      transform: translate(3px, 0) rotate(0); }
    22% {
      transform: translate(-1px, 0) rotate(0); }
    24% {
      transform: translate(-7px, 0) rotate(0); }
    26% {
      transform: translate(1px, 0) rotate(0); }
    28% {
      transform: translate(6px, 0) rotate(0); }
    30% {
      transform: translate(10px, 0) rotate(0); }
    32% {
      transform: translate(6px, 0) rotate(0); }
    34% {
      transform: translate(5px, 0) rotate(0); }
    36% {
      transform: translate(-1px, 0) rotate(0); }
    38% {
      transform: translate(1px, 0) rotate(0); }
    40% {
      transform: translate(-9px, 0) rotate(0); }
    42% {
      transform: translate(5px, 0) rotate(0); }
    44% {
      transform: translate(-9px, 0) rotate(0); }
    46% {
      transform: translate(4px, 0) rotate(0); }
    48% {
      transform: translate(0px, 0) rotate(0); }
    50% {
      transform: translate(-7px, 0) rotate(0); }
    52% {
      transform: translate(8px, 0) rotate(0); }
    54% {
      transform: translate(7px, 0) rotate(0); }
    56% {
      transform: translate(9px, 0) rotate(0); }
    58% {
      transform: translate(10px, 0) rotate(0); }
    60% {
      transform: translate(-6px, 0) rotate(0); }
    62% {
      transform: translate(8px, 0) rotate(0); }
    64% {
      transform: translate(8px, 0) rotate(0); }
    66% {
      transform: translate(-9px, 0) rotate(0); }
    68% {
      transform: translate(-2px, 0) rotate(0); }
    70% {
      transform: translate(-8px, 0) rotate(0); }
    72% {
      transform: translate(4px, 0) rotate(0); }
    74% {
      transform: translate(4px, 0) rotate(0); }
    76% {
      transform: translate(-9px, 0) rotate(0); }
    78% {
      transform: translate(-9px, 0) rotate(0); }
    80% {
      transform: translate(7px, 0) rotate(0); }
    82% {
      transform: translate(-5px, 0) rotate(0); }
    84% {
      transform: translate(-5px, 0) rotate(0); }
    86% {
      transform: translate(4px, 0) rotate(0); }
    88% {
      transform: translate(9px, 0) rotate(0); }
    90% {
      transform: translate(-6px, 0) rotate(0); }
    92% {
      transform: translate(2px, 0) rotate(0); }
    94% {
      transform: translate(8px, 0) rotate(0); }
    96% {
      transform: translate(-1px, 0) rotate(0); }
    98% {
      transform: translate(-3px, 0) rotate(0); }
    0%, 100% {
      transform: translate(0, 0) rotate(0); } }
  

 