
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

    --offset-before: 8px;
    --offset-after: 16px;
    --card-border-color: #e2d9d5;

  }

h1  {
    font-family: 'General Sans', sans-serif;
  }

button {
    font-family: 'General Sans', sans-serif;
  }

  
.soft-shadow{
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  } 
  

 